scikit-learn>=1.1.1
seaborn>=0.11.2
tqdm>=4.64.0
#matplotlib>=3.5.2
notebook>=6.4.12
visdom>=0.2.3
torchinfo>=1.8.0
h5py>=3.7.0


pydicom

torch>=1.13.1       # CPU版 PyTorch
torchvision>=0.14.1
#numpy>=1.23.0

einops==0.6.0
matplotlib==3.6.2
numpy==1.23.4
Pillow==9.3.0

pandas
japanize-matplotlib
jupyter
openpyxl
opencv-python
pillow
ipython
pylibjpeg

tensorboard>=2.12.0

monai==0.9.1
pytorch_lightning==1.5.0,<2.0.0
torchmetrics==0.7.0
